[Desktop Entry]
Name=@@NAME_LONG@@ - URL Handler
Comment=Visual frontend IDE with code, terminal, AI, and project preview.
GenericName=Code Editor
Exec=@@EXEC@@ --open-url %U
Icon=@@ICON@@
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/@@URLPROTOCOL@@;
Keywords=codecanvas;ide;editor;frontend;ai;
